@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {

  /* UI Colors */
  --color-ui-success: #00D68F;
  --color-ui-negative: #FF3D71;
  --color-ui-pending: #FFC94D;

  /* Brand Primary + Secondary */
  --color-brand-primary: #0075FF;
  --color-brand-secondary: #FF4405;
  --color-brand-p1: #3391FF;
  --color-brand-p2: #66A9FF;
  --color-brand-p3: #99C1FF;
  --color-brand-p4: #CCE0FF;
  --color-brand-s1: #FF6D3D;
  --color-brand-s2: #FF9373;
  --color-brand-s3: #FFBBAA;
  --color-brand-s4: #FFE0D9;

  /* Neutrals */
  --color-neutral-n1: #1C1C1E;
  --color-neutral-n2: #2C2C2E;
  --color-neutral-n3: #3A3A3C;
  --color-neutral-n4: #48484A;
  --color-neutral-n5: #636366;
  --color-neutral-m6: #AEAEB2;
  --color-white: #FFFFFF;

  --color-smoke-100: #F5F5F7;
  --color-smoke-200: #E5E5EA;
  --color-smoke-300: #D1D1D6;
  --color-snow-100: #F2F2F7;
  --color-snow-200: #E0E0E0;

  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  }
